doctype html
html
  head
    title 외래접수 개별 조회
    script.
      // FUNCTION fundFun()
      function findFun() {
        var x = document.getElementById("myValue").value;
        //alert(x);
        window.location =  '/opdrpts/index3/' + x;
        document.getElementById("myValue").value = x;
      }
      // enter event
      function onKeyDown() {
        if (window.event.keyCode == 13) {
          // 엔터키가 눌렸을 때 실행할 내용
          findFun();
          }
      };

  body
    h1 외래접수 개별 조회
    //a(href='/opdrpts/insert') INSERT DATA
    input#myValue(onKeyDown='onKeyDown()', type='text')
    button(onclick='findFun()') 확인

    hr
    table(width='100%', border='1')
      thead
      tbody
        tr
          th 등록번호
          th 접수일자
          th 진료과
          th 오더
          th 상태
          th 구분
        each item, index in data
          tr
            td= item.idno
            td= item.indate
            td= item.depts
            td= JSON.stringify(item.ords)
            td= item.status
            td= item.gubun
            td
              a(href='/opdrpts/delete/#{item.idno}' + '&' + '#{item.indate}') DELETE
            td
              a(href='/opdrpts/edit/#{item.idno}' + '&' + '#{item.indate}') EDIT
