doctype html
html
  head
    title 자원봉사코드 수정
  body
    h1 자원봉사코드 수정
    hr
    form(method='POST')
      fieldset
        legend 자원봉사코드수정
        table
          tr
            td
              label 코드
            td
              input(type='text', name='vcode', value='#{data.vcode}', disabled='')
          tr
            td
              label 구분
            td
              input(type='text', name='gubun', value='#{data.gubun}')
          tr
            td
              label 상세
            td
              input(type='text', name='detail', value='#{data.detail}')
          tr
            td
              label 상태
            td
              input(type='text', name='status', value='#{data.status}')
          tr
            td
              label 순서
            td
              input(type='nubmer', name='sqlno', value='#{data.sqlno}')
        input(type='submit')
        
